<%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
<table class="table">
	<tbody>
		<tr>
			<th>name</th>
			<th><%= user.name %></th>
		</tr>

		<tr>
			<th>introduction</th>
			<th><%= user.introduction %></th>
		</tr>
		<tr>
			<th>follows</th>
			<th><%= link_to user.following_user.count, follows_path(user) %></th>
		</tr>
		<tr>
			<th>followers</th>
			<th><%= link_to user.followed_user.count, followers_path(user) %></th>
		</tr>
	</tbody>
</table>

<div class="row">
	<% if user.id != current_user.id %>
		<% if current_user.following?(user) %>
			<%= link_to "フォロー外す", unfollow_path(user.id), method: :post, class: "btn-lg btn-primary" %>
		<% else %>
			<%= link_to "フォローする", follow_path(user.id), method: :post, class: "btn-lg btn-success" %>
		<% end %>
	<% else %>
		<%= link_to '',edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" %>
	<% end %>
</div>